{% load staticfiles %}
<header class="header">
    <a class="logo" href="/"><img src="{% static '/img/logo.svg' %}" alt="logo"></a>
    <ul class="menu">
        <li class="menu-list"><a href="{% url 'home' %}" class="menu-link {% if request.path == '/' %}
        menu-link-active {% endif %}">HOME</a></li>
        <li class="menu-list">
            <a href="{% url 'products:index' %}" class="menu-link
                {% if request.resolver_match.namespace == 'products' %} menu-link-active {% endif %}">PRODUCTS
            </a>
        </li>

        {% if user.is_authenticated %}
            <li class="menu-list"><a href="{% url 'auth:logout' %}" class="menu-link"><i
                    class="fas fa-sign-out-alt"></i></a></li>
            <li class="menu-list">
                <div class="dropdown">
                    <a href="" class="menu-link dropdown-toggle"
                        data-toggle="dropdown">USER ({{ user.username }})
                    </a>
                    <ul class="dropdown-menu text-center">
                        <li>
                            <a class="menu-link" href="{% url 'auth:edit' %}">EDIT</a>
                        </li>
                        <li>
                            <a class="menu-link" href="{% url 'order:orders_list' %}">ORDER`S</a>
                        </li>
                    </ul>
                </div>
            </li>
        {% else %}
            <li class="menu-list"><a href="{% url 'auth:login' %}" class="menu-link">LOGIN</a></li>
            <li class="menu-list"><a href="{% url 'auth:register' %}" class="menu-link">REGISTRATION</a></li>
        {% endif %}
        {% if user.is_superuser %}
            <li class="menu-list"><a href="{% url 'admin:categories' %}" class="menu-link">administrator</a></li>
        {% endif %}

        <li class="menu-list"><a href="{% url 'contact' %}" class="menu-link {% if request.path == '/contact/' %}
        menu-link-active {% endif %}">CONTACT</a></li>
        <li class="menu-list search"><a href="#" class="menu-link"><i class="fas fa-search"></i></a></li>
        {% if user.is_authenticated %}
            <li class="menu-list search">
                <a href="{% url 'basket:index' %}" class="menu-link">
                    <i class="fas fa-shopping-bag"></i>
                    {% if basket %}
                        <span id="my-shop">{{ basket.0.total_quantity }}</span> шт.
                        <span id="my-shop-total-cost">{{ basket.0.total_cost }}</span> $
                    {% endif %}
                </a>
            </li>
        {% endif %}
    </ul>
</header>
