{% extends 'mainapp/Base.html' %}

{% load staticfiles %}

{% block top %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/header.html' %}
        <p class="hero-text">Корзина</p>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% if basket %}
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Фото</th>
                    <th scope="col">Название</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Цена/Общая стоимость</th>
                </tr>
                </thead>
                <tbody>
                {% for el in basket %}
                    <tr>
                        <td class="w-25"><a href=""><img src="{{ MEDIA_URL }}{{ el.product.image }}" alt="" class="w-50"></a></td>
                        <td>{{ el.product.name }}</td>
                        <td class="text-center"><strong class="basket-item-quantity">{{ el.quantity }}</strong><br>

                            <button class="btn info-color basket-item-add" data-id="{{ el.product_id }}">+</button>

                            <button class="btn secondary-color basket-item-del" data-id="{{ el.product_id }}">-</button>


                        </td>
                        <td class="text-center">{{ el.product.price }} $ / <span class="my-shop-item-total-cost">{{ el.product_cost }}</span> $ <br>
                            <a class="btn red" href="{% url 'basket:remove' id=el.id %}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h3><strong>Ваша корзина пуста.</strong></h3>
        {% endif %}
    </div>
{% endblock %}

{% block JS_new %}
    <script type="text/javascript" src="{% static 'js/basket.js' %}"></script>
{% endblock %}
