{% extends 'authapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/header.html' %}
        <p class="hero-text">Регистрация</p>
    </div>
    <section class="container">
        <form action="{% url 'auth:register' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ reg_form.as_p }}
            <br>
            <p>
                <input type="submit" value="Регистрация">
            </p>
        </form>
    </section>

{% endblock %}
