{% if object %}
    <article class="d-flex">
    <ul class="list-group">
        <li class="list-group-item h4 text-center">Заказ №{{ object.pk }}</li>
        <li class="list-group-item">Заказчик:</li>
        <li class="list-group-item">Обновлен:</li>
        <li class="list-group-item">Статус:</li>
        <li class="list-group-item">Количество товаров:</li>
        <li class="list-group-item">Общая стоимость:</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item h4 text-center">от {{ object.created|date:"Y-m-d H:i:s" }}</li>
        <li class="list-group-item">{{ user.last_name }} {{ user.first_name }}</li>
        <li class="list-group-item">дата: {{ object.update|date:"Y-m-d H:i:s" }}</li>
        <li class="list-group-item">{{ object.get_status_display }}</li>
        <li class="list-group-item"><span class="order_total_quantity">{{ object.get_total_quantity }}</span></li>
        <li class="list-group-item"><span class="order_total_cost">{{ object.get_total_cost }}</span></li>
    </ul>
    </article>


    <div class="h2">
        Заказ №{{ object.pk }} от {{ object.created|date:"Y-m-d H:i:s" }}
    </div>
    <div class="h4">заказчик: {{ user.last_name }} {{ user.first_name }} </div>
    <div class="h4">обновлен: {{ object.update|date:"Y-m-d H:i:s" }}</div>
    <div class="h4">cтатус: {{ object.get_status_display }}</div>
    <div class="h4">общее количество товаров:
        <span class="order_total_quantity">{{ object.get_total_quantity }}</span>
    </div>
    <div class="h3">
        общая стоимость:
        <span class="order_total_cost">{{ object.get_total_cost }}</span> $
    </div>
{% else %}
    <div class="h2">Новый заказ</div>
    <div class="h4">заказчик: {{ user.last_name }} {{ user.first_name }} </div>
    <hr>
    <div class="h4">
        общее количество товаров: <span class="order_total_quantity"></span>
    </div>
    <div class="h3">
        общая стоимость: <span class="order_total_cost"></span> $
    </div>
{% endif %}
