{% extends 'adminapp/base_admin.html' %}
{% load staticfiles %}

{% block content %}
    <hr>
    <section class="padding-site">

        <h2>{{ product.name }}</h2>
        <img src="{{ MEDIA_URL }}{{ product.image }}" alt="">
        {#        <a href="{% url 'admin:category_update' id=model.id %}">Редактировать</a>#}
        <h4 class="mt-3">Информация о товаре:</h4>
        <p>Описание товара: {{ product.description }}</p>
        <p>Цены: {{ product.price }}</p>
        <p>Остаток на складе: {{ product.storage }}</p>
        <p>Активность: {{ product.is_active }}</p>
        <a class="text-success btn primary-color" href="{% url 'admin:product_update' id=product.id %}">Редактировать</a>
        <a class="text-success btn red" href="{% url 'admin:product_delete' id=product.id %}">Удалить</a>

    </section>
{% endblock %}
