{% extends 'mainapp/Base.html' %}
{% load staticfiles %}

{% block top %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/header.html' %}
        <p class="hero-text">Contact Us</p>
    </div>
{% endblock %}

{% block content %}
    <div class="location padding-site">
        <ul class="location-list">
            <li class="location-list-link">
                <a href="#" class="link-map"><i class="fas fa-map-marker-alt"></i></a>
                <h3 class="location-list-name">california</h3>
                <ul class="location-list-adress">
                    <li class="location-list-adress-text">
                        Phone:<br>
                        <span class="location-list-adress-bold">1900&nbsp;&mdash; 1234 &minus;5678</span> <br><br>
                    </li>
                    <li class="location-list-adress-text">Email:<br>
                        <span class="location-list-adress-bold">info@interior.com</span> <br><br>
                    </li>
                    <li class="location-list-adress-text">Address:<br>
                        <span class="location-list-adress-min">12&nbsp;W 1st St, 90001 Los Angeles, California</span>
                    </li>
                </ul>
            </li>
            <li class="location-list-link">
                <a href="#" class="link-map"><i class="fas fa-map-marker-alt"></i></a>
                <h3 class="location-list-name">california</h3>
                <ul class="location-list-adress">
                    <li class="location-list-adress-text">
                        Phone:<br>
                        <span class="location-list-adress-bold">1900&nbsp;&mdash; 1234 &minus;5678</span> <br><br>
                    </li>
                    <li class="location-list-adress-text">Email:<br>
                        <span class="location-list-adress-bold">info@interior.com</span> <br><br>
                    </li>
                    <li class="location-list-adress-text">Address:<br>
                        <span class="location-list-adress-min">12&nbsp;W 1st St, 90001 Los Angeles, California</span>
                    </li>
                </ul>
            </li>
            <li class="location-list-link">
                <a href="#" class="link-map"><i class="fas fa-map-marker-alt"></i></a>
                <h3 class="location-list-name">california</h3>
                <ul class="location-list-adress">
                    <li class="location-list-adress-text">
                        Phone:<br>
                        <span class="location-list-adress-bold">1900&nbsp;&mdash; 1234 &minus;5678</span> <br><br>
                    </li>
                    <li class="location-list-adress-text">Email:<br>
                        <span class="location-list-adress-bold">info@interior.com</span> <br><br>
                    </li>
                    <li class="location-list-adress-text">Address:<br>
                        <span class="location-list-adress-min">12&nbsp;W 1st St, 90001 Los Angeles, California</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}