{% extends 'mainapp/Base.html' %}
{% load staticfiles %}

{% block top %}
    <div class="interior-head padding-site">
                {% include 'mainapp/includes/header.html' %}
    </div>
{% endblock %}

{% block content %}
    <div class="product-details">
        <div class="product-details-slider padding-site mt-5">
            <div class="product-details-slider-img">
                <a href="" class="product-details-slider-img-big"><img src="/media/{{ item.image }}" alt=""></a>
            </div>
            <div class="product-details-text">
                <h2 class="fishnet-promo">{{ item.name }}</h2>
                <h4 class="hot deal">hot deal</h4>
                <h2 class="product-details-text-price">
                    <span class="letter-price">$</span>&nbsp;{{ item.price }}<span class="letter-price"></span>
                </h2>
                {% if request.user.is_authenticated %}
                    <a class="details-button" href="{% url 'basket:add' id=item.id %}">Заказать
                        <img src="{% static 'img/arrow-white.svg' %}" alt="arrow" class="arrow">
                    </a>
                {% else %}<a class="details-button" href="{% url 'auth:login' %}">Войти
                    <img src="{% static 'img/arrow-white.svg' %}" alt="arrow" class="arrow">
                </a>
                {% endif %}

                <p class="product-details-text-txt">Категория: {{ item.category }} <br><br></p>
                <p class="product-details-text-txt">Описание: {{ item.description }} <br><br></p>
                <p class="product-details-text-txt">Остаток на складе: {{ item.storage }} <br><br></p>
            </div>
        </div>
    </div>
    <div class="related-product-text padding-site">
        <div class="trending-title">Похожие товары</div>
        <div class="explore">
            <a href="{% url 'products:index' %}" class="explore-all">explore all
                <img src="{% static 'img/arrow.svg' %}" alt="arrow" class="arrow">
            </a>
        </div>
    </div>
    <div class="hero-product padding-site">
        <ul class="hero-product-set-1">
            {% for product in products %}
                <li class="trending-product-link">
                    <a href="{% url 'products:details' id=product.id %}"><img src="/media/{{ product.image }}" alt=""
                                                                              class="trending-image"></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
