{% extends 'mainapp/Base.html' %}
{% load staticfiles %}
{% load money %}

{% block top %}
    <div class="slider padding-site">
        {% include 'mainapp/includes/header.html' %}
        <div class="slider-text">
            <h4 class="trending">TRENDING</h4>
            <h2 class="fishnet">Fishnet Chair</h2>
            <p class="slider-p">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                available in&nbsp;matt powder-coated black </p>
            <a class="button" href="{% url 'products:index' %}">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                            class="arrow"></a>
        </div>
{#        <div class="pagination">#}
{#            <a href="#" class="circle"></a>#}
{#            <a href="#" class="circle circle-active"></a>#}
{#            <a href="#" class="circle"></a>#}
{#        </div>#}
    </div>
{% endblock %}


{% block content %}
    <div class="featured-product padding-site">
        <div class="tab-expolre">
            <ul class="tab-controll">
                <li class="tab-controll-list">
                    <a href="{% url 'products:index' %}" class="tab-controll-link tab-controll-link-active">Products</a>
                </li>
                <li class="tab-controll-list">
                    <a href="#" class="tab-controll-link">New</a>
                </li>
            </ul>
            <div class="explore"><a href="{% url 'products:index' %}" class="explore-all">explore all
                <img src="{% static 'img/arrow.svg' %}" alt="arrow" class="arrow">
            </a>
            </div>
        </div>
        <div class="trending-product">
            <div class="hero-product">
                <ul class="d-flex">
                    {% if provider.has_previous %}
                        <li class="mr-2 list-group">
                            <a class="badge grey p-2"
                               href="{% url 'page' page=provider.previous_page_number %}">Prev</a>
                        </li>
                    {% endif %}
                    <li class="list-group">
                        <p class="badge grey darken-3 p-2">page #{{ provider.number }}
                            of {{ provider.paginator.num_pages }}</p>
                    </li>
                    {% if provider.has_next %}
                        <li class="ml-2 list-group">
                            <a class="badge grey p-2" href="{% url 'page' page=provider.next_page_number %}">Next</a>
                        </li>
                    {% endif %}
                </ul>
                <div class="hero-product-list">
                    <ul class="hero-product-set-1">
                        {% for product in provider %}
                            <li class="trending-product-link product-list">
                                <img src="{{ MEDIA_URL }}{{ product.image }}" alt="" class="trending-image">
                                <div class="icon-hover">
                                    <a href="{% url 'products:details' id=product.id %}"
                                       class="badge-light icon-hover-link">
                                        <img src="{% static 'img/arrow-big.svg' %}" alt="" class="d-block">
                                    </a>
                                    <h3 class="icon-hover-name">{{ product.name }}</h3>
                                    <p class="icon-hover-text">{{ product.description }}</p>
                                    <p class="icon-hover-text">Цена: {{ product.price | dollars }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="promo-product">
        <div class="promo-content-1 padding-promo">
            <div class="promo-product-text">
                <h4 class="exclusive">exclusive</h4>
                <h2 class="fishnet-promo">Fishnet Chair</h2>
                <p class="promo-text">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                    available in&nbsp;matt</p>
                <a class="button" href="{% url 'products:index' %}">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                                class="arrow"></a>
            </div>
        </div>
        <div class="promo-content-2 padding-promo">
            <div class="promo-product-text">
                <h4 class="exclusive">exclusive</h4>
                <h2 class="fishnet-promo">Fishnet Chair</h2>
                <p class="promo-text">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                    available in&nbsp;matt</p>
                <a class="button" href="{% url 'products:index' %}">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                                class="arrow"></a>
            </div>
        </div>
    </div>
    <div class="hot-deals padding-site">
        <div class="slider-text">
            <h4 class="hot deal">hot deal</h4>
            <h2 class="fishnet">Fishnet Chair</h2>
            <p class="slider-p">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                available in&nbsp;matt powder-coated black </p>
            <a class="button" href="{% url 'products:index' %}">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                            class="arrow"></a>
        </div>
        <div class="pagination">
            <a href="#" class="circle"></a>
            <a href="#" class="circle circle-active"></a>
            <a href="#" class="circle"></a>
        </div>
    </div>
    <div class="mobile-app padding-site">
        <div class="mobile-info">
            <h4 class="mobile-info-app">mobile app</h4>
            <h2 class="fishnet">Find. Follow. Favorite.</h2>
            <p class="mobile-app-text">Save your favorites and share your style.</p>
        </div>
        <div class="app-symbol">
            <a href="#" class="app-symbol-link"><img src="{% static 'img/app-store.jpg' %}" alt=""
                                                     class="app-image"></a>
            <a href="#" class="app-symbol-link"><img src="{% static 'img/google-play.jpg' %}" alt="" class="app-image"></a>
        </div>
    </div>
{% endblock %}