{% extends 'mainapp/Base.html' %}
{% load staticfiles %}

{% block top %}
    <div class="slider padding-site">
        {% include 'mainapp/includes/header.html' %}
        <div class="slider-text">
            <h4 class="trending">TRENDING</h4>
            <h2 class="fishnet">Fishnet Chair</h2>
            <p class="slider-p">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                available in&nbsp;matt powder-coated black </p>
            <a class="button" href="/interior">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                            class="arrow"></a>
        </div>
        <div class="pagination">
            <a href="#" class="circle"></a>
            <a href="#" class="circle circle-active"></a>
            <a href="#" class="circle"></a>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="featured-product padding-site">
        <div class="tab-expolre">
            <ul class="tab-controll">
                <li class="tab-controll-list"><a href="#"
                                                 class="tab-controll-link tab-controll-link-active">Featured</a></li>
                <li class="tab-controll-list"><a href="/interior" class="tab-controll-link">New</a></li>
            </ul>
            <div class="explore"><a href="#" class="explore-all">explore all<img src="{% static 'img/arrow.svg' %}"
                                                                                 alt="arrow" class="arrow"></a>
            </div>
        </div>
        <ul class="product-content">
            <li class="product-list"><a href="#" class="product-link"><img src="{% static 'img/product-1.jpg' %}"
                                                                           alt="lamp"></a>
                <div class="icon-hover">
                    <a href="/interior" class="icon-hover-link">
                        <img src="{% static 'img/back-circle.svg' %}" alt="">
                        <img src="{% static 'img/arrow-big.svg' %}" alt="" class="icon-hover-arrow"></a>
                    <h3 class="icon-hover-name">Fishnet Chair</h3>
                    <p class="icon-hover-text">Seat and back with upholstery made of&nbsp;cold cure foam.</p>
                </div>
            </li>
            <li class="product-list"><a href="#" class="product-link"><img src="{% static 'img/product-2.jpg' %}"
                                                                           alt="chair"></a>
                <div class="icon-hover">
                    <a href="/interior" class="icon-hover-link">
                        <img src="{% static 'img/back-circle.svg' %}" alt="">
                        <img src="{% static 'img/arrow-big.svg' %}" alt="" class="icon-hover-arrow"></a>
                    <h3 class="icon-hover-name">Fishnet Chair</h3>
                    <p class="icon-hover-text">Seat and back with upholstery made of&nbsp;cold cure foam.</p>
                </div>
            </li>
            <li class="product-list"><a href="#" class="product-link"><img src="{% static 'img/product-3.jpg' %}"
                                                                           alt="teapott"></a>
                <div class="icon-hover">
                    <a href="/interior" class="icon-hover-link">
                        <img src="{% static 'img/back-circle.svg' %}" alt="">
                        <img src="{% static 'img/arrow-big.svg' %}" alt="" class="icon-hover-arrow"></a>
                    <h3 class="icon-hover-name">Fishnet Chair</h3>
                    <p class="icon-hover-text">Seat and back with upholstery made of&nbsp;cold cure foam.</p>
                </div>
            </li>
            <li class="product-list"><a href="#" class="product-link"><img src="{% static 'img/product-4.jpg' %}"
                                                                           alt="stool"></a>
                <div class="icon-hover">
                    <a href="/interior" class="icon-hover-link">
                        <img src="{% static 'img/back-circle.svg' %}" alt="">
                        <img src="{% static 'img/arrow-big.svg' %}" alt="" class="icon-hover-arrow"></a>
                    <h3 class="icon-hover-name">Fishnet Chair</h3>
                    <p class="icon-hover-text">Seat and back with upholstery made of&nbsp;cold cure foam.</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="promo-product">
        <div class="promo-content-1 padding-promo">
            <div class="promo-product-text">
                <h4 class="exclusive">exclusive</h4>
                <h2 class="fishnet-promo">Fishnet Chair</h2>
                <p class="promo-text">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                    available in&nbsp;matt</p>
                <a class="button" href="/interior">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                                class="arrow"></a>
            </div>
        </div>
        <div class="promo-content-2 padding-promo">
            <div class="promo-product-text">
                <h4 class="exclusive">exclusive</h4>
                <h2 class="fishnet-promo">Fishnet Chair</h2>
                <p class="promo-text">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                    available in&nbsp;matt</p>
                <a class="button" href="/interior">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                                class="arrow"></a>
            </div>
        </div>
    </div>
    <div class="trending-product padding-site">
        <div class="trending-text">
            <div class="trending-title">Trending Products</div>
            <div class="explore"><a href="#" class="explore-all">explore all<img src="{% static 'img/arrow.svg' %}"
                                                                                 alt="arrow" class="arrow"></a>
            </div>
        </div>
        <div class="trending-product-img">
            <ul class="trending-product-list">
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-11.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-21.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-31.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-41.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-51.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-61.jpg' %}" alt="" class="trending-image"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="hot-deals padding-site">
        <div class="slider-text">
            <h4 class="hot deal">hot deal</h4>
            <h2 class="fishnet">Fishnet Chair</h2>
            <p class="slider-p">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                available in&nbsp;matt powder-coated black </p>
            <a class="button" href="/interior">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                            class="arrow"></a>
        </div>
        <div class="pagination">
            <a href="#" class="circle"></a>
            <a href="#" class="circle circle-active"></a>
            <a href="#" class="circle"></a>
        </div>
    </div>
    <div class="exclusive-product padding-site">
        <div class="exclusive-product-variant">
            <div class="promo-product-text">
                <h4 class="exclusive">exclusive</h4>
                <h2 class="fishnet-promo">Fishnet Chair</h2>
                <p class="promo-text">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                    available in&nbsp;matt</p>
                <a class="button" href="/interior">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                                lass="arrow"></a>
            </div>
        </div>
        <ul class="exclusive-product-list">
            <li class="exclusive-product-link"><a href="#"><img src="{% static 'img/product-2-sm.jpg' %}" alt=""
                                                                class="trending-image"></a></li>
            <li class="exclusive-product-link"><a href="#"><img src="{% static 'img/product-3-sm.jpg' %}" alt=""
                                                                class="trending-image"></a></li>
            <li class="exclusive-product-link"><a href="#"><img src="{% static 'img/product-4-sm.jpg' %}" alt=""
                                                                class="trending-image"></a></li>
            <li class="exclusive-product-link"><a href="#"><img src="{% static 'img/product-5-sm.jpg' %}" alt=""
                                                                class="trending-image"></a></li>
        </ul>
    </div>
    <div class="mobile-app padding-site">
        <div class="mobile-info">
            <h4 class="mobile-info-app">mobile app</h4>
            <h2 class="fishnet">Find. Follow. Favorite.</h2>
            <p class="mobile-app-text">Save your favorites and share your style.</p>
        </div>
        <div class="app-symbol">
            <a href="#" class="app-symbol-link"><img src="{% static 'img/app-store.jpg' %}" alt=""
                                                     class="app-image"></a>
            <a href="#" class="app-symbol-link"><img src="{% static 'img/google-play.jpg' %}" alt="" class="app-image"></a>
        </div>
    </div>
{% endblock %}