{% extends 'mainapp/Base.html' %}
{% load staticfiles %}

{% block top %}
    <div class="interior-head padding-site">
        {% include 'mainapp/includes/header.html' %}
    </div>
{% endblock %}

{% block content %}
    <div class="product-details">
        <ul class="product-details-menu">
            <li class="menu-list"><a href="/" class="hero-menu-link details-menu-link-active">ALL</a></li>
            <li class="menu-list"><a href="/products" class="hero-menu-link">HOME</a></li>
            <li class="menu-list"><a href="#" class="hero-menu-link">OFFICE</a></li>
            <li class="menu-list"><a href="#" class="hero-menu-link">FURNITURE</a></li>
            <li class="menu-list"><a href="#" class="hero-menu-link">MODERN</a></li>
            <li class="menu-list"><a href="#" class="hero-menu-link">CLASSIC</a></li>
        </ul>
        <div class="product-details-slider padding-site">
            <div class="product-details-slider-img">
                <a href="" class="product-details-slider-img-big' %}"><img src="/media/{{ products.image }}" alt=""></a>
                <div class="product-deteils-slider-img-small-list">
                    <a href="" class="product-details-slider-img-small"><img src="{% static 'img/controll.jpg' %}"
                                                                             alt=""></a>
                    <a href="" class="product-details-slider-img-small"><img src="{% static 'img/controll11.jpg' %}"
                                                                             alt=""></a>
                    <a href="" class="product-details-slider-img-small"><img src="{% static 'img/controll2.jpg' %}"
                                                                             alt=""></a>
                </div>
            </div>
            <div class="product-details-text">
                <h2 class="fishnet-promo">{{ products.name }}</h2>
                <h4 class="hot deal">hot deal</h4>
                <h2 class="product-details-text-price">
                    <span class="letter-price">$</span>&nbsp;{{ products.price }}<span class="letter-price">/sq</span>
                </h2>
                <a class="details-button" href="#">Order Us<img src="{% static 'img/arrow-white.svg' %}" alt="arrow"
                                                                class="arrow"></a>
                <p class="product-details-text-txt">{{ products.description }} <br><br>
                    et&nbsp;dolore magna aliqua. Ut&nbsp;enim ad&nbsp;minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut&nbsp;aliquip ex&nbsp;ea&nbsp;commodo consequat.<br>
                </p>
            </div>
        </div>
    </div>
    <div class="related-product-text padding-site">
        <div class="trending-title">Related Products</div>
        <div class="explore"><a href="#" class="explore-all">explore all<img src="{% static 'img/arrow.svg' %}"
                                                                             alt="arrow" class="arrow"></a>
        </div>
    </div>
    <div class="hero-product padding-site">

        <div class="hero-product-list">
            <ul class="hero-product-set-1">
                <li class="trending-product-link"><a href="#"><img src="{% static 'img/product-11.jpg' %}" alt=""
                                                                   class="trending-image"></a></li>
                <li class="trending-product-link"><a href="#"><img src="{% static 'img/product-21.jpg' %}" alt=""
                                                                   class="trending-image"></a></li>
                <li class="trending-product-link"><a href="#"><img src="{% static 'img/product-31.jpg' %}" alt=""
                                                                   class="trending-image"></a></li>
            </ul>
        </div>
    </div>
{% endblock %}