{% extends 'mainapp/Base.html' %}
{% load staticfiles %}

{% block top %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/header.html' %}
        <p class="hero-text">Our Products Range</p>
    </div>
{% endblock %}

{% block content %}
    <div class="hero-product padding-site">
        <ul class="hero-menu">
            <li class="menu-list"><a href="#" class="hero-menu-link hero-menu-link-active">ALL</a></li>
            <li class="menu-list"><a href="#" class="hero-menu-link">HOME</a></li>
            <li class="menu-list"><a href="#" class="hero-menu-link">OFFICE</a></li>
            <li class="menu-list"><a href="#" class="hero-menu-link">FURNITURE</a></li>
            <li class="menu-list"><a href="#" class="hero-menu-link">MODERN</a></li>
            <li class="menu-list"><a href="#" class="hero-menu-link">CLASSIC</a></li>
        </ul>
        <div class="hero-product-list">
            <ul class="hero-product-set-1">
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-11.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-21.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-31.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-41.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-51.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-61.jpg' %}" alt="" class="trending-image"></a>
                </li>
            </ul>
        </div>
        <div class="hero-product-list">
            <ul class="hero-product-set-2">
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-11.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-21.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-31.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-41.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-51.jpg' %}" alt="" class="trending-image"></a>
                </li>
                <li class="trending-product-link"><a href="/interior">
                    <img src="{% static 'img/product-61.jpg' %}" alt="" class="trending-image"></a>
                </li>
            </ul>
        </div>
        <div class="hero-refresh"><a href="#"><i class="fas fa-sync-alt"></i></a></div>
    </div>
    <div class="promo-product">
        <div class="promo-content-1 padding-promo">
            <div class="promo-product-text">
                <h4 class="exclusive">exclusive</h4>
                <h2 class="fishnet-promo">Fishnet Chair</h2>
                <p class="promo-text">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                    available in&nbsp;matt</p>
                <a class="button" href="/interior">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                                class="arrow"></a>
            </div>
        </div>
        <div class="promo-content-2 padding-promo">
            <div class="promo-product-text">
                <h4 class="exclusive">exclusive</h4>
                <h2 class="fishnet-promo">Fishnet Chair</h2>
                <p class="promo-text">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                    available in&nbsp;matt</p>
                <a class="button" href="/interior">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                                class="arrow"></a>
            </div>
        </div>
    </div>
{% endblock %}