{% extends 'mainapp/Base.html' %}
{% load staticfiles %}

{% block top %}
    <div class="hero padding-site">
        {% include 'mainapp/includes/header.html' %}
        <p class="hero-text">Our Products Range</p>
    </div>
{% endblock %}

{% block content %}
    {% include 'mainapp/includes/prod_menu.html' %}
    <div class="hero-product padding-site">
        <div class="hero-product-list">
            <ul class="hero-product-set-1">
                {% for product in same_products %}
                    <li class="trending-product-link">
                        <a href="{% url 'products:details' id=product.id %}"><img src="{{ MEDIA_URL }}{{ product.image }}" alt="" class="trending-image"></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="promo-product">
        <div class="promo-content-1 padding-promo">
            <div class="promo-product-text">
                <h4 class="exclusive">exclusive</h4>
                <h2 class="fishnet-promo">Fishnet Chair</h2>
                <p class="promo-text">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                    available in&nbsp;matt</p>
                <a class="button" href="{% url 'products:index' %}">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                                class="arrow"></a>
            </div>
        </div>
        <div class="promo-content-2 padding-promo">
            <div class="promo-product-text">
                <h4 class="exclusive">exclusive</h4>
                <h2 class="fishnet-promo">Fishnet Chair</h2>
                <p class="promo-text">Seat and back with upholstery made of&nbsp;cold cure foam. Steel frame,
                    available in&nbsp;matt</p>
                <a class="button" href="{% url 'products:index' %}">Order Us<img src="{% static 'img/arrow.svg' %}" alt="arrow"
                                                                class="arrow"></a>
            </div>
        </div>
    </div>
{% endblock %}
