{% extends 'adminapp/base_admin.html' %}
{% load staticfiles %}

{% block content %}
    <hr>
    <section class="padding-site">
        <h2>{{ model.name }}</h2>
        <h4 class="mt-3">Товары в категории:</h4>
        <ul class="list-group mb-3">
            {% for el in products %}
                <li class="list-group-item w-25">
                    <a href="{% url 'admin:product_read' id=el.id %}">{{ el.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div>
            <a class="text-success btn red" href="{% url 'admin:category_delete' id=model.id %}">Удалить</a>
            <a class="text-success btn primary-color"
               href="{% url 'admin:category_update' id=model.id %}">Редактировать</a>
        </div>
        <div>
            <a class="text-primary btn green" href="{% url 'admin:product_category' category=model.id %}">Все товары</a>
            <a class="text-primary btn success-color" href="{% url 'admin:product_create' %}">Создать новый товар</a>
        </div>

    </section>
{% endblock %}
